<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detail</h1>
  <h2>{{ article.pk }}번째 글</h2>
  <hr>
  <h2>{{ article.title }}</h2>
  <h2>{{ article.content }}</h2>
  <h2>{{ article.created_at }}</h2>
  <h2>{{ article.updated_at }}</h2>
  <a href="{% url "articles:update" article.pk %}">[수정]</a>
  <a href="{% url "articles:index" %}">[메인]</a>
  <form action="{% url "articles:delete" article.pk%}" method = "POST">
    {% comment %} POST는 토큰이 필수 {% endcomment %}
    {% csrf_token %}
     <input type="submit" value="삭제">
  </form>
</body>
</html>